<div class="container change-me">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h1>Edit your listing</h1>

      <%= render "shared/form", listing: @listing %>

    </div>
  </div>
</div>
