<div class="container change-me col-xs-12 col-lg-6 col-lg-offset-3">
  <div class="row">
    <div class="col-xs-12">
      <h1>Create your listing</h1>


      <%= render "shared/form", listing: @listing %>

    </div>
  </div>
</div>

