// Specific CSS for your home-page
.avatar {
  height: 120px;
  width: 140px;
  border-radius: 50%;
}


.wrapper-home {
  background-color: #F9F9F9;
}

.icon-home {
  font-size: 100px;
}

.home-text {
  margin-top: 20px;
  margin-bottom: 100px;
}


