<% content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Welcome to iCanCook</h1>
    <p>Find local cooks for any occasion</p>
    <%= form_tag(listings_path, method: :get) do %>
    <%= text_field_tag :query, params[:search], :placeholder => "Enter your postcode", style: "color:  black;", class: "form-control" %>
     <%= submit_tag 'Search', :name => nil, class: "btn btn-primary", style: "margin-top: 10px;" %>
    <% end %>
  </div>
</div>

<div class="wrapper-home">
  <div class="container">
    <div style="margin-bottom: 50px; margin-top: 40px;">
      <h2 class="text-center"> How it works </h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="text-center">
          <i class="fa fa-user-circle icon-home" aria-hidden="true"></i>
          <h3> Search </h3>
          <p class="home-text">Search for available cooks in your local area</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="text-center">
          <i class="fa fa-search icon-home" aria-hidden="true"></i>
          <h3> Book </h3>
          <p class="home-text">Book your chosen cook for a specific date and communicate via messages</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="text-center">
          <i class="fa fa-cutlery icon-home" aria-hidden="true"></i>
          <h3> Relax </h3>
          <p class="home-text">Your cook will handle the cooking so you can focus on what really matters at your event</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-testimonial">
  <div class="testimonal-header">
  <h2 class="text-center testimonial-title">Become a cook</h2>
</div>
<div class="testimonials">

  <figure class="snip1139">
  <blockquote>Sometimes I think the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.
    <div class="arrow"></div>
  </blockquote>
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample3.jpg" alt="sample3"/>
  <div class="author">
    <h5>Steve <span>London</span></h5>
  </div>
</figure>
<figure class="snip1139 hover">
  <blockquote>I don't need to compromise on my principles, because they don't have the slightest bearing on what happens to me anyway.
    <div class="arrow"></div>
  </blockquote>
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg" alt="sample47"/>
  <div class="author">
    <h5>Max <span>- Bath</span></h5>
  </div>
</figure>
<figure class="snip1139">
  <blockquote>That's the problem with nature, something's always stinging you or oozing mucous all over you. Let's go and watch TV.
    <div class="arrow"></div>
  </blockquote>
  <img src="https://images.unsplash.com/photo-1504683706615-c26f923422f3?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="sample17"/>
  <div class="author">
    <h5>Eleanor<span>Wales</span></h5>
  </div>
</figure>
</div>





</div>



