.banner {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?auto=format&fit=crop&w=2550&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-size: cover;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }

  .banner-content {
    border: 0px;
  }

  p{
    color: white;
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
    border-radius: 3px;
  }
}
